/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}
nav .navbar-brand .purple
{
    color: #800080;
}
nav .navbar-brand .black
{
    color: #000000;
}

/* used to center form tags */
.form-center
{
justify-content: center;
}

/* used to push the cash values to the right*/
.cash
{
    text-align: right;
}

/*For the bought and sold columns in history.html*/
.bought
{
    color: white !important;
    background-color: green !important;
}

.sold
{
    color: white !important;
    background-color: red !important;
}
/*------------------------------------------------------------------------*/

.form_input.error input
{
    border-color: red;
}

.form_input.error small
{
    color: red;
}

.form_input.success input
{
    border-color: green;
}

.form_input.success small
{
    color: green;
}

.msg_parentDiv
{
    border: 1px solid;
    text-align: center;
    margin: auto;

}

.buy_more
{
    padding-left: 20%;
    padding-right: 20%;
}

.add_cash
{
    float: center;
    margin-left: 30%;
    margin-right: 30%;
}

.display_cash
{
    float: right;
}


/*For the change_pswd.html page-----------------------------------------------------*/
.responsive {
    padding-left: 40%;
    padding-right: 40%;
}
/*Adjusting the error message for screens in between 990px and 700px wide */
@media only screen and (max-width: 990px) {
    .responsive {
        padding-left: 35%;
        padding-right: 35%;
    }
}

/*Adjusting the error message even further for screens smaller than 700px wide*/
@media only screen and (max-width: 700px) {
    .responsive {
        padding-left: 10%;
        padding-right: 10%;
    }
}
/*---------------------------------------------------------------------------------*/

/*class for the loading wheel*/
 .loader {
    
 }