{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <div>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Transaction Date</th>
                    <th>Name</th>
                    <th>Transaction Type</th>
                    <th>Shares</th>
                    <th>Amount</th>
                </tr>
            </thead>

            <tbody class="table-group-divider">
                {% for row in rows %}
                    <tr>
                        <td> {{ row["transaction_time"] }} </td>
                        <td> {{ row["name"] }} </td>
                        {% if row["type"] == "Bought" %}
                            <td class="bought">{{ row["type"] }}</td>
                        {% else %}
                            <td class="sold">{{ row["type"] }}</td>
                        {% endif %}
                        <td>{{ row["quantity"] }} of {{ row["symbol"] }}</td>
                        <td> {{ row["amount"] | usd }} </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}