{% extends "layout.html" %}

{% block title %}
    Buy more
{% endblock %}

{% block main %}
<div class="buy_more">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> {{ stock["symbol"] }} </td>
                <td> {{ stock["name"] }} </td>
                <td> {{ stock["price"] }} </td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <form class="row g-3 form-center" action="/sell_more" method="post">
        <div class="col-auto">

            <input class="form-control mx-auto w-auto" name="shares" placeholder="Quantity" type="number" min="0" required>
        </div>

        <div class="col-auto">
            <button class="btn btn-primary" type="submit" name="symbol" value="{{ stock.symbol }}"> Sell </button>
        </div>
    </form>
</div>
{% endblock %}